<div class="container">
  <div class="item">
    <app-card>
      <div class="card__header" card-header>
        <img src="assets/icons/icon-client.png" class="card__image" />
      </div>

      <div class="card__content" card-content>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, dolore obcaecati animi vero similique voluptates numquam, porro blanditiis accusamus labore facilis ullam commodi ea, a ut sequi. Accusamus, exercitationem molestias?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium laudantium enim sequi, natus delectus exercitationem laboriosam incidunt optio, veritatis excepturi dicta velit, iste dolore nemo. Dicta nobis laborum praesentium dignissimos.
        </p>
      </div>
    </app-card>
  </div>

  <div class="item">
    <app-card>
      <div class="card__header card__header--direction-column" card-header>
        <h1>Fulano da Silva</h1>
        <img src="assets/icons/icon-client.png" class="card__image" />
        <h3>Desenvolvedor Front-end</h3>
      </div>
      <div class="card__content" card-content>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias, laborum asperiores voluptate deserunt sequi neque itaque atque aut in illo quasi molestiae laboriosam officia exercitationem dolor. Dolorum, optio qui!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempora a ratione animi aliquid veritatis quos aperiam unde quis eligendi atque ad sunt in aspernatur, excepturi placeat incidunt tempore corrupti.
        </p>
      </div>
    </app-card>
  </div>
</div>