.button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: relative;

    &:active {
        bottom: -2px;
    }
    //Com esse & vc criar classe no seu css, e na chamada dele no html referencia ele dentro do atributo class, ex:
    //<button class="button button--purple">Teste</button> 
    &--white{
        background-color: white;
    }

    &--purple {
        background-color: #a056d9;
    }
}