<!-- <div *ngFor="let item of listPessoas">
  {{ item }}
</div> 
Um exemplo de for
-->

<!-- ; let i = index para exibir index da lista. PS the word must be index 
; let isOdd = odd" [class.item--odd]="isOdd" serve para demonstrar index é impar 
-->
<div class="list">
  <div 
    class="item" 
    *ngFor="let person of listPeople; let i = index; let isOdd = odd"
    [class.item--odd]="isOdd"
    [class.item--highlighted]="personSelectIndex === i"
    (click)="selectPerson(i)">

    <p class="item__name">{{person.name}}</p>
    <p class="item__name">{{person.age}}</p>
  </div>
</div>