<div class="card">
  
  <app-card-text-title>Sou o titulo do card</app-card-text-title> <!-- feito com elemento -->
  <h1 appCardTextTitle>Sou o titulo do card ref com atributo</h1> <!--feito com atributo, o result do dois é o msm -->
  
  <!-- <h1 class="ca-u-card-text-subtitle">I'm subtitulo of card</h1> -->
  <app-card-text-subtitle>I'm subtitulo of card</app-card-text-subtitle>

  <!-- <h1 class="ca-u-card-text-description">Sou a descrição do card</h1> -->
  <app-card-text-description>Sou a descrição do card</app-card-text-description>  
</div>

<!-- <img src="assets/images/lhaminha1.JPG" class="ca-u-card-avatar-small" /> -->
<app-card-avatar-small>
  <img src="assets/images/lhaminha1.JPG"/>
</app-card-avatar-small>

<!-- <img src="assets/images/lhaminha1.JPG" class="ca-u-card-avatar-large" /> -->
<app-card-avatar-large>
  <img src="assets/images/lhaminha1.JPG"/>
</app-card-avatar-large>