// Fiz isso so para praticar, pois o css real está na dist/css/main.css

.container {
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    .item {
        width: 50%;
        padding: 10px;
    }
}
